.gallery{
    margin: 50px 50px;
}

.gallery img{
    
    transition-duration: 1s;
    padding: 5px;
    width: 200px;
}

.gallery img:hover{
    
    filter: grayscale(100%);
    transform: scale(1.1);
}